.user-detail-product-arrange{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
}
.user-detail-user-image{
    width:150px;
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.user-detail-user-info {
    display: flex;
    width: 500px;
  }
.user-detail-user-first-name {
    padding-left: 500px;
}

.user-detail-product-card{
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: auto;
    background: white;
    border-radius: 10px;
}
.user-detail-product-image {
    width: 350px;
    height: 250px;
}

.user-detail-product-title{
    font-weight: bold;
    font-size: 20px;
}

.user-detail-product-title:hover {
    text-decoration: underline;
}