.product-page-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.product-page-img {
    width: 50%;
    height: 50%;
    margin-left: 20%;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.product-page-details {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 30px;
}

.product-page-details-text {
    margin-bottom: 20px;
}

.product-page-user-img {
    width: 34px;
    height: 33px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 6px;
}

.product-page-user-img-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.product-page-returns-exchanges{
    font-size: 10pt;
}

.product-page-rev-spacing {
    margin-bottom: 10px;
}

.product-page-rev {
    margin-left: 20%;
    width: 60%;
}

.product-page-rev-img {
    max-width: 60%;
}

.product-page-details-price {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.product-page-edit-rev-buttons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.product-page-edit-del {
    display: flex;
    margin-top: 20px;
}

.product-page-delete-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 380px;
    height: 50px;
}

.product-page-cart-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
    height: 30px;
}

@media screen and (min-width: 1200px) {
    .product-page-container {
        display: flex;
        justify-content: space-between;
    }
    
    .product-page-img {
        width: 540px;
        height: 600px;
        margin-left: 20%;
        margin-top: 10px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .product-page-details {
        display: flex;
        flex-direction: column;
        min-width: 40%;
    }
    
    .product-page-details-text {
        margin-bottom: 20px;
    }
    
    .product-page-user-img {
        width: 34px;
        height: 33px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .product-page-user-img-name-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    
    .product-page-rev-spacing {
        margin-bottom: -1.5rem;
    }
    
    .product-page-rev-img {
        max-width: 60%;
    }
    
    .product-page-details-price {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    
    .product-page-edit-rev-buttons {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 35px;
        margin-top: 10px;
    }
    
    .product-page-edit-del {
        display: flex;
    }
    
    .product-page-delete-button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .product-page-cart-button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }
}