

.hidden {
  display: none;
}

.navLinks {
  display: flex;
  flex-direction: row;
}

.navLinks-logged-out {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.prof-button {
  width: 100%;
}

.navLinks-logged-in {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allNavLinks {
  display: flex;
  justify-content: space-between;
  padding: auto;
  margin: auto;
}

#link {
  padding: 10px;
  margin: auto;
}


.profile-button-img {
  width: 35px;
  height: 35px;
}


.navigation-etsy-logo {
  max-width: 200px;
  max-height: 35px;
}




