.profile-dropdown {
}

.hidden {
  display: none;
}

.navLinks {
  display: flex;
  flex-direction: row;
}

.allNavLinks {
  display: flex;
  justify-content: space-between;
  padding: auto;
  margin: auto;
}

#link {
  padding: 10px;
  margin: auto;
}

.navigation-etsy-logo {
  max-width: 200px;
  max-height: 35px;
}




