.products-list {
    display: grid;
    grid-template-areas:
  'product product product product'
  'product product product product';
}

.product-list-intro-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
}

.products-list-image {
    width: 200px;
    height: auto;
}

#products-list-link {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
}