.create-product-form {
  padding: 80px;
}

.createProduct-field {
  display: flex;
  flex-direction: row;
}

.createProduct-errors {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 5px;
}

.createProduct-errors-container {
  background-color: rgb(252, 227, 227);
}

.createProduct-input {
  max-height: 20px;
  margin-bottom: auto;
  margin-top: 20px;
  width: 100%;
}

.createProduct-keys {
  max-width: 200px;
}

.createProduct-input-description {
  margin-bottom: auto;
  margin-top: 20px;
  width: 100%;
  height: 100px;
}

.createProduct-save {
  justify-items: flex-end;
  color: white;
  padding: 8px;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.createProduct-save-container {
  display: flex;
  justify-content: flex-end;
}
